.hocker-maks {
  background-image: url(./../img/pappmoebel-hocker-maks-natur-01-b.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-sitzwuerfel {
  background-image: url(./../img/pappmoebel-hocker-sitzwuerfel-natur-01.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-barhocker {
  background-image: url(./../img/pappmoebel-hocker-barhocker-natur-02.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-dino {
  background-image: url(./../img/pappmoebel-stellwand-dino-natur-01.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-100x200 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-100x200.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-110x200 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-110x200.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-120x200 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-120x200.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-100x220 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-100x220.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-110x220 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-110x220.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-120x220 {
  background-image: url(./../img/pappmoebel-stellwand-muro-natur-120x220.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point {
  background-image: url(./../img/pappmoebel-stellwand-pin-point-standard-02.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-xl {
  background-image: url(./../img/pappmoebel-stellwand-pin-point-classic-xl-natur-01.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-quick-point-q {
  background-image: url(./../img/pappmoebel-stellwand-quick-point-quer-01.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-quick-point-h {
  background-image: url(./../img/pappmoebel-stellwand-quick-point-hoch-01.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-maks-1 {
  background-image: url(./../img/hocker-maks-1-seite-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-maks-2 {
  background-image: url(./../img/hocker-maks-2-seiten-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-maks-komplett {
  background-image: url(./../img/hocker-maks-komplett.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-sitzwuerfel-1 {
  background-image: url(./../img/hocker-sitzwuerfel-1-seite-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-sitzwuerfel-2 {
  background-image: url(./../img/hocker-sitzwuerfel-2-seiten-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-sitzwuerfel-4 {
  background-image: url(./../img/hocker-sitzwuerfel-4-seiten-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-sitzwuerfel-komplett {
  background-image: url(./../img/hocker-sitzwuerfel-komplett.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-barhocker-1 {
  background-image: url(./../img/hocker-barhocker-1-seite-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-barhocker-2 {
  background-image: url(./../img/hocker-barhocker-2-seiten-logo.jpg);
  background-position: center;
  background-size: cover;
}

.hocker-barhocker-3 {
  background-image: url(./../img/hocker-barhocker-komplett.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-dino-1 {
  background-image: url(./../img/stellwand-dino-mittelwand-1-seite.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-dino-1-b {
  background-image: url(./../img/stellwand-dino-mittelwand-1-seite-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-dino-2 {
  background-image: url(./../img/stellwand-dino-mittelwand-2-seite.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-dino-2-b {
  background-image: url(./../img/stellwand-dino-mittelwand-2-seite-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-1 {
  background-image: url(./../img/pappmoebel-stellwand-muro-1-seite-ohne-schmale-seite.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-1-b {
  background-image: url(./../img/pappmoebel-stellwand-muro-1-seite-mit-schmaler-seite.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-2 {
  background-image: url(./../img/pappmoebel-stellwand-muro-2-seiten-ohne-schmalen-seiten.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-muro-2-b {
  background-image: url(./../img/pappmoebel-stellwand-muro-2-seiten-mit-schmalen-seiten.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-1 {
  background-image: url(./../img/stellwand-pin-point-standard-1-seite-ohne-stuetzbeine.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-1-b {
  background-image: url(./../img/stellwand-pin-point-standard-1-seite-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-2 {
  background-image: url(./../img/stellwand-pin-point-standard-2-seiten-ohne-stuetzbeine.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-2-b {
  background-image: url(./../img/stellwand-pin-point-standard-2-seiten-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-xl-1 {
  background-image: url(./../img/stellwand-pin-point-xl-1-seite-ohne-stuetzbeine.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-xl-1-b {
  background-image: url(./../img/stellwand-pin-point-xl-1-seite-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-xl-2 {
  background-image: url(./../img/stellwand-pin-point-xl-2-seiten-ohne-stuetzbeine.jpg);
  background-position: center;
  background-size: cover;
}

.stellwand-pin-point-xl-2-b {
  background-image: url(./../img/stellwand-pin-point-xl-2-seiten-mit-stuetzbeinen.jpg);
  background-position: center;
  background-size: cover;
}

.weiss-auf-natur {
  background-image: url(./../img/druck-weiss-natur-IMG-3212.jpg);
  background-position: center;
  background-size: cover;
}

.schwarz-auf-natur {
  background-image: url(./../img/druck-schwarz-natur-IMG-5600.jpg);
  background-position: center;
  background-size: cover;
}

.schwarz-farbe-auf-natur {
  background-image: url(./../img/druck-schwarz-und-farbe-natur-IMG-5600.jpg);
  background-position: center;
  background-size: cover;
}

.farbe-auf-weiss-1 {
  background-image: url(./../img/papphocker-sitzwuerfel-mit-druck-auf-weiss-berlinale.jpg);
  background-position: center;
  background-size: cover;
}

.farbe-auf-weiss-maks-1 {
  background-image: url(./../img/hocker-maks-komplett-1-farbe-auf-weiss.jpg);
  background-position: center;
  background-size: cover;
}

.komplett-farbig-sitwuerfel {
  background-image: url(./../img/papphocker-sitzwuerfel-mit-druck-bunt.jpg);
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=background-images.css.map */