@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&family=Varela+Round&display=swap');

// $font-sans: 'Montserrat',
// sans-serif;
$font-sans: 'Raleway',
sans-serif;
$color-1: #eeeeee;
$color-2: #14b042;
$color-3: #ffffff;
$color-4: #222222;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: $color-1;
    color: $color-2;
    font-family: $font-sans;
    // padding-top: 3em;
    margin: 0 auto;
    // overflow-y: overlay;
    // scrollbar-gutter: stable;
    // padding: 25px;
    width: 90%;
    max-width: 1200px;
    // height: 100vw;
}

.logo {
    width: 200px;
    position: relative;
    top: 0px;
    left: 0px;
}

.formular {
    text-align: center;
}

header {
    background-color: $color-3;
    height: 70px;
    padding: 30px 50px 70px 50px;
}

.progress {
    padding: 10px;
    background-color: $color-3;

    .line {
        border-top: 5px dotted $color-2;
        width: 100%;
        position: relative;
        top: 27px;
    }

    .button-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: relative;
        top: 0;
    }

    .button-progress {
        width: 50px;
        height: 50px;
        background-color: $color-1;
        border-radius: 50%;
        border: 2px solid $color-2;
        color: $color-2;
        font-family: $font-sans;
        font-size: 1.2em;
        font-weight: 500;
    }

    .active {
        background-color: $color-2;
        color: $color-3;
    }

}



.main {
    max-width: 1080px;
}

input {
    margin: 1em;
    padding: 1em;
}

a {
    color: $color-2;
    // padding: 1em;
    text-decoration: none;
    font-family: $font-sans;
    font-size: 1.2em;
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    color: $color-4;
    padding: 1em;
    text-align: center;
}

.products {
    height: 100vw;
    background-color: $color-3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;

    a {
        padding: 1em;
    }
}

.product-item {
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.product-title {
    color: $color-4;
    font-size: .8em;
    font-weight: 600;
    line-height: 1.5;
    padding: 5px;
}

.rund {
    background-color: $color-1;
    border: $color-2 1px solid;
    color: $color-2;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: 0.2em;
    // position: relative;
    z-index: 10;

    p {
        font-size: 2em;
        text-align: center;
    }
}

.aktiv {
    background-color: $color-2;
    color: $color-1;
}

.erklaerung {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
    color: #222222;
    padding: 10px;
}